.kontainerra {
   margin: 0 auto;
}

.ilara {
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 15px;
    padding-left: 15px;
}

.ilara::after {
    content: "";
    clear: both;
    display: table;
}

.kendu-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/** Oso Txikia **/
@media (max-width: 400px){
    
    .kontainerra {
     width: auto;
    }
   
}

/** Txikia **/
@media (min-width: 600px){
    .kointainerra {
        width: 575px;
    }
}

/** Ertaina **/
@media (min-width: 800px){
    
    .kontainerra {
        width: 775px; 
    }
      
}

/** Handia **/
@media (min-width: 1000px){
    
    .kontainerra {
        width: 975px; 
    }
      
}

/** Oso Handia **/
@media (min-width: 1200px){
    .kontainerra {
        width: 1175px;
    }
}






/** Zutabeak **/

[class^="zutabe-"] {
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

[class^="zutabe-"] {
   width: 100%;
}

/** Zutabe txikiak **/
/** Txikia **/
@media (min-width: 600px){
    .zutabe-txikia-1 {
        width: 10%;
    }

    .zutabe-txikia-2 {
        width: 20%;
    }


    .zutabe-txikia-3 {
        width: 30%;
    }


    .zutabe-txikia-4 {
        width: 40%;
    }

    .zutabe-txikia-5 {
        width: 20%;
    }

    .zutabe-txikia-6 {
        width: 60%;
    }

    .zutabe-txikia-7 {
        width: 70%;
    }

    .zutabe-txikia-8 {
        width: 80%;
    }


    .zutabe-txikia-9 {
        width: 90%;
    }

    .zutabe-txikia-10 {
        width: 100%;
    }
}

/** Zutabe Ertaina **/
@media (min-width: 800px){
    
    .zutabe-ertaina-1 {
        width: 10%;
    }

    .zutabe-ertaina-2 {
        width: 20%;
    }


    .zutabe-ertaina-3 {
        width: 30%;
    }


    .zutabe-ertaina-4 {
        width: 40%;
    }

    .zutabe-ertaina-5 {
        width: 20%;
    }

    .zutabe-ertaina-6 {
        width: 60%;
    }

    .zutabe-ertaina-7 {
        width: 70%;
    }

    .zutabe-ertaina-8 {
        width: 80%;
    }


    .zutabe-ertaina-9 {
        width: 90%;
    }

    .zutabe-ertaina-10 {
        width: 100%;
    }
      
    
    .ezkutatu-ertaina {
        display: none;
    }
}

/** Zutabe Handia **/
@media (min-width: 1000px){
    
     .zutabe-handia-1 {
        width: 10%;
    }

    .zutabe-handia-2 {
        width: 20%;
    }


    .zutabe-handia-3 {
        width: 30%;
    }


    .zutabe-handia-4 {
        width: 40%;
    }

    .zutabe-handia-5 {
        width: 20%;
    }

    .zutabe-handia-6 {
        width: 60%;
    }

    .zutabe-handia-7 {
        width: 70%;
    }

    .zutabe-handia-8 {
        width: 80%;
    }


    .zutabe-handia-9 {
        width: 90%;
    }

    .zutabe-handia-10 {
        width: 100%;
    }
      
}

/** Zutabe Oso Handia **/
@media (min-width: 1200px){
    .zutabe-osohandia-1 {
        width: 10%;
    }

    .zutabe-osohandia-2 {
        width: 20%;
    }


    .zutabe-osohandia-3 {
        width: 30%;
    }


    .zutabe-osohandia-4 {
        width: 40%;
    }

    .zutabe-osohandia-5 {
        width: 20%;
    }

    .zutabe-osohandia-6 {
        width: 60%;
    }

    .zutabe-osohandia-7 {
        width: 70%;
    }

    .zutabe-osohandia-8 {
        width: 80%;
    }


    .zutabe-osohandia-9 {
        width: 90%;
    }

    .zutabe-osohandia-10 {
        width: 100%;
    }
}
